@import "../../scss/mixin.scss";

.details {
  @include mobile {
    margin: 10px;
  }

  @include desktop {
    margin: 0 50px;
    margin-bottom: 100px;
  }

  &-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
}
