@import "../../scss/mixin.scss";

.memo {
  @include tablet {
    margin: 10px;
  }

  @include desktop {
    margin: 0 50px;
    margin-bottom: 100px;
  }
}

.p-field {
  margin: 30px 0;
}

#float-textarea {
  width: 100% !important;
}

:host ::ng-deep {
  .p-toast-message-custom {
    background-color: #e1cfe7;
    border: solid #8a427a;
    border-width: 0 0 0 6px;
    color: #2c1e30;
    .p-toast-icon-close {
      color: #2c1e30;
    }
  }
}
